@import './assets/icon.css';

* {
  margin: 0;
  padding: 0;
}

:root {
  --width: 1226px;
  --active-color: #ff6700;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

body{
  background-color: #f5f5f5;
}